{% extends 'base.html' %}

{% block header %}
    {% block title %}Dashboard{% endblock %}
{% endblock %}

{% block dashboard_nav %}
    active
{% endblock dashboard_nav %}

{% block content %}
    <!-- Pilih tahun -->

    <div class="row mb-2 ">
        <div class="col">
            <form
                class="d-none d-sm-inline-block form-inline mr-auto my-2 my-md-0 mw-100 navbar-search">
                <div class="input-group">
                    <select class="custom-select form-control border-1 small" id="year" name="year">
                        <option selected value="{{cur_year}}">Pilih Tahun</option>
                        {% for year in years %}
                            <option value="{{ year }}"> {{year}} </option>
                        {% endfor %}
                    </select>
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">
                            <i class="fas fa-search fa-sm"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- table -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Data tahun {{cur_year}}</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Periode (Tahun/Bulan)</th>
                            <th>Produksi</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for produksi in productions %}
                        <tr>
                            <td>{{ loop.index }}</td>
                        <td> {{ produksi['years'] }} / {{ produksi['months'] }} </td>
                            <td> {{ produksi['nilai'] }} </td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- grafik -->
    <p id="datas" hidden>{% for produksi in productions %}{{ produksi['nilai'] }},{% endfor %}</p>
    <div class="row justify-content-center">

        <div class="col-8">

            <!-- Area Chart -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Area Chart</h6>
                </div>
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="myAreaChart"></canvas>
                    </div>
                    <hr>
                    Styling for the area chart can be found in the
                    <code>/js/demo/chart-area-demo.js</code> file.
                </div>
            </div>

        </div>
    </div>

{% endblock %}
