{% extends "base.html" %}

{% block header %}
    {% block title %}
        Ubah Password
    {% endblock title %}
{% endblock header %}

{% block content %}
    <div class="row">
    <div class="col-md-3">
        <form action="" method="POST">
            <input type="text" name="id" value="" hidden>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" class="form-control" id="password" value="" placeholder="">
            </div>
            <div class="mb-3">
                <label for="confirm_password" class="form-label">Ulangi Password</label>
                <input type="password" name="confirm_password" class="form-control" id="confirm_password" value="" placeholder="">
            </div>
            <div class="mb-3 align-self-end">
                <input type="submit" class="btn btn-primary" value="Simpan">
            </div>
        </form>
    </div>
</div>
{% endblock content %}