/* menyembunyikan text jika text terlalu panjang */
.el { 
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
  }

.inputstyle {
    width: 100px;
    font-family: inherit;
    border: none;
    border-bottom: 1px solid;
    border-bottom: 1px solid lightgray;
    text-align: center;
  }
  